* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header--logo a {
  font-size: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.header--menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 40px;
  cursor: pointer;
}
.header--menu-line {
  height: 4px;
  background-color: #2590BA;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.container-section--left {
  background-color: #2590BA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  padding: 0 20px;
}
.container-section--left-info {
  color: #fff;
}
.container-section--left-info-name {
  font-size: 3rem;
  line-height: 6rem;
}
.container-section--left-info-dev {
  font-size: 2rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}
.container-section--left-info-buttons {
  widows: 60%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.container-section--left-info-buttons a {
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 2px 2px 14px #000;
  display: inline-block;
  margin: 1rem 20px 0 0;
  transition: 0.4s;
  text-transform: uppercase;
}
.container-section--left-info-buttons a:hover {
  background-color: rgb(0, 11, 23);
  color: #fff;
}
.container-section--left-info-buttons-dark {
  background-color: #0e6486;
  color: #fff;
}
.container-section--left-info-buttons-light {
  background-color: #fff;
  color: #2590BA;
}
.container-section--right {
  background-image: url("../img/profile4.png");
  background-position: center;
  background-size: 50% auto;
  background-repeat: no-repeat;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 20px;
}
footer a {
  color: #fff;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container-section--left-info-buttons {
    width: 75%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-section--left-info-buttons {
    width: 57%;
  }
  .container-section--left-info-buttons a {
    width: 100%;
    margin-bottom: 0.8rem;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  header {
    position: static;
    background-color: #2590BA;
  }
  .header--menu-line {
    background-color: #fff;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .container-section--left {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  .container-section--left-info-name {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }
  .container-section--left-info-dev {
    font-size: 1.5rem;
  }
  .container-section--left-info-buttons {
    width: 70%;
  }
  .container-section--left-info-buttons a {
    font-size: 0.8rem;
    width: 45%;
  }
  .container-section--right {
    grid-column: 1/2;
    grid-row: 2/5;
    background-size: 40% auto;
  }
}
footer {
  position: static;
  background-color: #2590BA;
  text-align: center;
}

@media (max-width: 425px) {
  header {
    position: static;
    background-color: #2590BA;
  }
  .header--logo a {
    font-size: 1.8rem;
  }
  .header--menu {
    height: 25px;
    width: 30px;
  }
  .header--menu-line {
    background-color: #fff;
  }
  .container {
    grid-template-columns: 1fr;
    height: calc(100vh - 82px);
  }
  .container-section--left-info-name {
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .container-section--left-info-dev {
    font-size: 0.9rem;
  }
  .container-section--left-info-buttons {
    width: 100%;
  }
  .container-section--left-info-buttons a {
    font-size: 0.8rem;
    width: 100%;
  }
  .container-section--right {
    grid-column: 1/2;
    grid-row: 2/5;
    background-size: 60% auto;
  }
  footer {
    position: static;
    background-color: #2590BA;
    text-align: center;
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
